*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary: rgb(98, 0, 255);
    --secondary: rgb(231, 126, 245);
    --tertiary: rgb(255, 255, 255);
}
body{
    background: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.highscores{
    flex: 1;
    padding: 20px;
    font-size: 0.8rem;
}
.timer{
    padding: 20px;
    font-size: 0.8rem;
}
.question-block{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 80%;
    justify-content: center;
}
.question-block h2{
    color: black;
    padding: 20px;
}
.instructions{
    padding: 20px;
}
.begin-quiz-btn{
    background-color: var(--primary);
  
    color: white;
    border-radius: 12px;
    outline: none;
    border: 1px solid black; 
    padding: 10px 15px;
    font-size: 1.0rem;
    cursor: pointer;
}
.begin-quiz-btn:active{
    box-shadow: 0 0px var(--secondary);
    top: 0;
    border: none;
}
