*{
    box-sizing: border-box;
}
:root{
    --primary: rgb(98, 0, 255);
    --secondary: rgb(231, 126, 245);
    --tertiary: rgb(255, 255, 255);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.scoreboard button {
    background-color: var(--primary);
    color: white;
    border-radius: 12px;
    outline: none;
    border: 5px solid black; 
    margin: 5px;
    padding: 10px 45px;
    font-size: 1.0rem;
    cursor: pointer;
}
.scoreboard button:active{
    box-shadow: 0 0px var(--secondary);
    top: 0;
    border: none;
}
.scoreboard h1{
    color: var(--primary);
    -webkit-text-stroke: 1px black;
}
.loaded-scores {
    list-style: none;
    justify-self:flex-start;
}
.scores{
    flex: 1;
    padding: 20px;
    font-size: 15px;
}
.timer{
    padding: 20px;
    font-size: 0.8rem;
}
body{
    background: rgb(255, 255, 255);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.start{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    width: 100%;
    justify-content: center;
    padding: 25px;
}
.start h1{
    margin: 20px;
    width:100%;
}
.start p{
    width: 100%;
}
.hide{
    display: none;
}
.questions{
    display: flex;
}
.question-title{
    margin: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
}
.choice {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.begin-quiz-btn{
    background-color: var(--primary);
    color: white;
    border-radius: 12px;
    outline: none;
    border: 5px solid black; 
    margin: 5px;
    padding: 10px 45px;
    font-size: 1.0rem;
    cursor: pointer;

}
.begin-quiz-btn:active{
    box-shadow: 0 0px var(--secondary);
    top: 0;
    border: none;
}
.possible-answers{
    list-style-type: none;
    text-decoration: none;
}
.possible-answers li{
    list-style-type: none;
    width:100%;
    background-color: var(--primary);
    list-style-type: none;
    text-decoration: none;
    font-size: 50px;
    color: black;
    background-color: var(--primary);
    border-radius: 15%;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
}
.end-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.end-screen h2{
    margin: 20px;
}
.end-screen p{
    margin: 20px;
}
.end-screen p span{
    font-weight: bolder;
}
.possible-answers a:active{
    box-shadow: 0 0px var(--secondary);
    top: 0;
    border: none; 
}
